body {
    background-image: linear-gradient(to right, #f1d8c9, #f2c3a7);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: white;
    width: 600px;
    /*largura*/
    margin: auto;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 30px 30px 30px;
    color: rgb(92, 27, 67);
}

h1 {
    color: #f39209;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

h2 {
    color: #125189;
}

p {
    text-align: justify;
}

header ul {
    display: flex;
    /*adicionar espaço*/
    justify-content: space-evenly;
    /*adicionar espaço entre os elementos*/
    list-style-type: none;
    /*tirando stilo lista*/
    background-color: white;
    width: 600px;
    /*largura*/
    margin: auto;
    /*adicionar margem direita e esquerda*/
    margin-bottom: 20px;
    /*margem abaixo do cabeçalho*/
    border-radius: 20px;
    /*curvatura de canto de header*/
    box-shadow: 15px 15px 15px rgb(89, 0, 255)
}

header ul li {
    margin-right: 30px;
    /* margem á direita*/
    padding: 10px;
    /*espaçamento interno*/
    transition: transform 1.7s ease; /*transiçaõ*/
   
}

header ul li:hover {
    /*mudar a cor de fundo do menu*/
    background: rgb(165, 168, 172);
    transform:scale(3.2);
}

header a {
    text-decoration: none;
    color: #125189;
}